<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-config"
      version="1.2.1">

    <name>cordova-plugin-firebase-config</name>
    <description>Cordova plugin for Firebase Remote Config</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-config</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-config/issues</issue>

    <js-module src="www/FirebaseConfig.js" name="FirebaseConfig">
        <merges target="cordova.plugins.firebase.config" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseConfig">
                <param name="ios-package" value="FirebaseConfigPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebaseConfigPlugin.h" />
        <source-file src="src/ios/FirebaseConfigPlugin.m" />

        <framework src="Firebase/Core" type="podspec" spec="~> 5.0"/>
        <framework src="Firebase/RemoteConfig" type="podspec" spec="~> 5.0"/>
    </platform>

    <platform name="android">
        <preference name="FIREBASE_CORE_VERSION" default="16.0.+"/>
        <preference name="FIREBASE_CONFIG_VERSION" default="16.3.+"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseConfig">
                <param name="android-package" value="by.chemerisuk.cordova.firebase.FirebaseConfigPlugin" />
            </feature>
        </config-file>

        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>
        <dependency id="cordova-support-google-services" version="^1.2.0"/>

        <framework src="com.google.firebase:firebase-core:$FIREBASE_CORE_VERSION" />
        <framework src="com.google.firebase:firebase-config:$FIREBASE_CONFIG_VERSION" />

        <source-file src="src/android/FirebaseConfigPlugin.java"
            target-dir="src/by/chemerisuk/cordova/firebase/" />
    </platform>

</plugin>
